@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #1D2228;
  color: #e1e2e2;
}

header {
  position: fixed;
  width: 100%;
  padding: 0.4rem 0 .6rem 0;
  background-color: #1D2228;
}

header nav {
  height: 12vh;
  width: 93%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 45px;
  color: #e1e2e2;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header ul {
  display: flex;
  gap: 4rem;
}

header a {
  display: block;
  color: #e1e2e2;
  text-decoration: none;
  border-radius: .2rem;
  padding: .5rem 1rem;
  transition: .2s ease-in;
  border-top: 2px solid #fb8122;
  overflow: hidden;
  position: relative;
}

header a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: .1rem;
  transition: .2s ease-in;
  transform: translateX(-101%);
  background-color: #fb8122;
}

header a:hover::before {
  transform: translateX(0);
}

header a:hover {
  color: #000;
}

#nav_menu {
  display: none;
}

section {
  min-height: 100vh;
  padding: 3rem 7% 2rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_content h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home_content h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.home_content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.button {
  font-size: 1.2rem;
  display: inline-block;
  padding: .7rem 1.6rem;
  background-color: #fb8122;
  border-radius: 4rem;
  color: #000;
  letter-spacing: .05rem;
  font-weight: 600;
}

.home_image img {
  width: 25vw;
  height: 25vw;
  border-radius: 20vw;
  margin: 0 0 0 5rem;
}

.heading {
  margin-top: 80px;
  text-align: start;
}

.skill_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1.5rem auto;
}

.skill p {
  margin-bottom: 1.5rem;
}

.skill i {
  font-size: 2rem;
  margin-bottom: .3rem;
}

.skill_container .skill {
  flex: 1 1 18rem;
  background: #000;
  padding: 2.2rem;
  border-radius: 1.5rem;
  text-align: center;
  transition: .5s ease;
}

.skill_container .skill:hover {
  box-shadow: 0 0 .7rem .1rem #e1e2e2;
  transform: scale(1.02);
}

.skill {
  color: #e1e2e2;
}

.skill h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.last_works h2 {
  margin: 4.5rem 0 2rem 0;
}

.projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.projects_container .project {
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
}

.project img {
  width: 100%;
  transition: .5s ease;
}

.project:hover img {
  opacity: .6;
  transform: scale(1.1);
  box-shadow: 0 0 .5rem #e1e2e2;
}

.project .project_detail {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #e1e2e2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 0 .7rem .5rem .7rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.project:hover .project_detail {
  transform: translateY(0);
}

.contact_heading {
  margin: 3.5rem 0 0 0;
  text-align: center;
}

.contact_heading h2 {
  color: #fb8122;
}

.reach_out form {
  max-width: 70rem;
  margin: 1rem auto 2rem auto;
  text-align: center;
}

.reach_out form .input_field {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reach_out form .input_field input,
.reach_out form .input_field textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  margin: .3rem;
  background-color: #e1e2e2;
  color: #1D2228;
  border-radius: .5rem;
}

.reach_out form .input_field input {
  width: 30%;
}

.reach_out form .input_field textarea {
  width: 60.5%;
}

.reach_out form button {
  margin-top: 1rem;
}

footer {
  text-align: right;
}

.social_links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;
  background: #000;
  border-radius: 50%;
  font-size: 2rem;
  color: #fb8122;
  margin: 1rem;
}

.social_links a:hover {
  background-color: #000;
  color: #fb8122;
  box-shadow: 0 0 .7rem #e1e2e2;
}

/* .social_links h2 {
  display: inline;
  text-align: start;
} */